{% extends "layout/chessboard_layout.html" %}

{% block js %}
    <script>
        $("button.sign-up").on("click", function() {
            $.ajax({
                method: 'GET',
                url: "{{ url_for('modals.sign_up_modal')}}",
                success: function(html) {
                    showSignUpModal(html)
                },
                error: function() {
                    window.chessPy.alert("{{ utils.gettext('Oops! Something went wrong!') }}");
                }
            });
        })
        function showSignUpModal(html) {
            bootbox.dialog({
                message: html,
                size: "small",
                buttons: {
                    signup: {
                        label: "{{ utils.gettext('Sign up') }}",
                        className: "btn-primary",
                        callback: function() {
                            alert("submitting the form......")
                        }
                    }
                }
            })
        }
    </script>
{% endblock %}

{% block header %}
    {{ utils.gettext('Chinese Chess') }}
{% endblock %}

{% block below_board_buttons %}
    <button type="button" class="btn btn-primary sign-in">
        {{ utils.gettext('Sign in') }}
    </button>
    <button type="button" class="btn btn-primary sign-up">
        {{ utils.gettext('Sign %s', 'up') }}
    </button>
{% endblock %}
