{% extends "layout/chessboard_layout.html" %}

{% block js %}
    <script>
        $("button.sign-up, button.sign-in, button.sign-out, button.private-new-game").on("click", function() {
            var $button = $(this);
            $.ajax({
                method: 'GET',
                url: $button.data("form-url"),
                success: function(html) {
                    showAuthModal(html)
                },
                error: function() {
                    window.chessPy.alert("{{ utils.gettext('Oops! Something went wrong!') }}");
                }
            });
        })
        function showAuthModal(html) {
            var $wrapper = $('<div/>').html(html);
            var $form = $wrapper.find('form');
            var formId = "#" + $form.attr("id");
            bootbox.dialog({
                message: html,
                size: "small",
                buttons: {
                    signup: {
                        label: $form.data("button-text"),
                        className: "btn-primary",
                        callback: function() {
                            if(!$(formId).valid()) {
                                return false;
                            } else {
                                bootbox.hideAll();
                                $(formId).submit();
                            }
                        }
                    }
                }
            }).on('shown.bs.modal', function() {
                $(formId).find("input").on('keypress', function(evt) {
                    if (evt.which == 13) {
                        $(this).closest('.modal-content').find('.btn-primary').click();
                    }
                });
            })
        }
    </script>
{% endblock %}

{% block header %}
{% endblock %}

{% block css %}
{% endblock %}

{% block below_board_buttons %}
    <form action="{{ url_for('match.join_public_match') }}" method="post">
        {{ create_match_form.csrf_token() }}
        <button type="submit" class="btn btn-primary random-new-game">
            {{ utils.gettext('Random game') }}
        </button>
    </form>
    <button type="button" class="btn btn-primary private-new-game" data-form-url="{{ url_for('modals.join_private_game_modal') }}">
        {{ utils.gettext('Private game') }}
    </button>
    {% if current_user.is_authenticated %}
        <button type="button" class="btn btn-primary sign-out" data-form-url="{{ url_for('modals.sign_out_modal') }}">
            {{ utils.gettext('Sign out') }}
        </button>
    {% else %}
        <button type="button" class="btn btn-primary sign-in" data-form-url="{{ url_for('modals.sign_in_modal') }}">
            {{ utils.gettext('Sign in') }}
        </button>
        <button type="button" class="btn btn-primary sign-up" data-form-url="{{ url_for('modals.sign_up_modal') }}">
            {{ utils.gettext('Sign up') }}
        </button>
    {% endif %}
{% endblock %}
