{% extends "layout/chessboard_layout.html" %}

{% block css %}
{% endblock %}

{% block header %}
{% endblock %}

{% block below_board_buttons %}
    <button type="button" class="btn btn-primary undo">
        {{ utils.gettext('Undo') }}
    </button>
    <button type="button" class="btn btn-primary draw">
        {{ utils.gettext('Draw') }}
    </button>
    <button type="button" class="btn btn-primary surrender">
        {{ utils.gettext('Surrender') }}
    </button>
    <a role="button" class="btn btn-primary go-back" href="{{ url_for('site.index') }}">
        {{ utils.gettext('Go back')}}
    </a>
{% endblock %}
