{% extends "layout/stretch_layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard.css', statics_version=utils.statics_version()) }}" />
{% endblock %}

{% block header %}
    中国象棋
{% endblock %}

{% block content %}
    <div id="chessboard-container">
        <div id="chessboard">
            <img id="chessboard-lines" src="/static/images/chess-board.png" />
        </div>
    </div>
    <div class="below-board-buttons">
        {% for text in ["开始", "悔棋", "求和", "认输"] %}
            <button>
                {{ text }}
            </button>
        {% endfor %}
    </div>
{% endblock %}
