#root {
    background: url("/static/images/wood-2.jpg");
    background-repeat: repeat;
}
#content {
    font-size: 0.621vw;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: calc((100vh - 80px - 30px - 10vh) * 0.8932);
}
@media(min-width: 712px) {
    #content {
        font-size: calc((100vh - 80px - 30px - 10vh) * 0.005);
    }
}
#chessboard-container {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 111.96%;
}
#chessboard {
    background: url("/static/images/wood-1.jpg");
    background-repeat: repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#chessboard, .chessmen-slots{
    width: 100%;
    height: 100%;
    padding: 4%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0;
}
#chessboard-container .chessman-slot {
    float: left;
    width: 11.1%;
    height: 10%;
}
#chessboard-container .chessman-slot .chessman-char {
    font-family: "ShaTiXingShu", "WenQuanYi Micro Hei";
}
#chessboard-container .chessman-slot .chessman-pic {
    font-family: ChessPiece, Bomb;
    font-size: 14em;
    display: none;
}
#chessboard-container.use-pic .chessman-pic {
    display: flex;
    align-items: self-start;
}
#chessboard-container.use-pic .chessman-char {
    display: none;
}
.chessman-slot .chessman-placeholder {
    position: relative;
    width: 90%;
    height: 90%;
    border-radius: 50%;
}
.chessman-slot .chessman {
    background: url("/static/images/wood-5.jpg");
    box-shadow: 1em 1em 1em #6F6767,
                0em 1em 0.5em #cccccc inset,
                1em 0 0.5em #cccccc inset,
                0 -1em 0.5em #cccccc inset,
                -1em 0 0.5em #cccccc inset;
}
.chessman-slot .chessman {
    background: url("/static/images/wood-5.jpg");
    box-shadow: 1em 1em 1em #6F6767,
                0em 1em 0.5em #cccccc inset,
                1em 0 0.5em #cccccc inset,
                0 -1em 0.5em #cccccc inset,
                -1em 0 0.5em #cccccc inset;
    cursor: pointer;
}
.chessman[data-color="red"] {
    color: #ff3333;
}
.chessman[data-color="black"] {
    color: #333333;
}
.chessman .chessman-literal {
    width: 100%;
    height: 100%;
    font-size: 15em;
    line-height: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
#chessboard-lines {
    width: 100%;
    height: 100%;
}
.below-board-buttons {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
}
.below-board-buttons .btn {
    margin: 2vh 5px 0 5px;
}
.center-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
