<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            {{ utils.gettext('Chinese Chess') }}
        {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ utils.static_url_for('lib/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ utils.static_url_for('css/main.css') }}" />
    <link rel="stylesheet" href="{{ utils.static_url_for('css/modal.css') }}" />
    <link rel="stylesheet" href="{{ utils.static_url_for('css/chessboard.css') }}" />
    <link rel="stylesheet" href="{{ utils.static_url_for('css/button.css') }}" />
    <style>
        @font-face {
            font-family: ShouShuti;
            src: url("{{ utils.static_url_for('fonts/ShouShuti.woff') }}");
        }
        @font-face {
            font-family: "WenQuanYi Micro Hei";
            src: url("{{ utils.static_url_for('fonts/WenQuanYi Micro Hei.woff') }}");
        }
    </style>
    {% block css %}
    {% endblock %}
</head>
<body>
    <div id="root">
        <div id="header">
            {{ utils.gettext('Chinese Chess') }}
            {% if current_user.name %}
                {{ utils.gettext('Hi, %s!', current_user.name) }}
                {{ current_user.get_id() }}
            {% endif %}
            {% block header %}
            {% endblock %}
        </div>
        <div id="content">
            <div id="chessboard-container">
                <div id="chessboard">
                    <img id="chessboard-lines" src="/static/images/chess-board.png" />
                    {% block chessboard %}
                    {% endblock %}
                </div>
            </div>
            <div class="below-board-buttons">
                {% block below_board_buttons %}
                {% endblock %}
            </div>
        </div>
        <div id="footer">
            <p>
                {{ utils.gettext('Author: Kaiwen Sun') }}
            </p>
        </div>
    </div>
    <script src="{{ utils.static_url_for('lib/event-source/EventSource.js') }}"></script>
    <script src="{{ utils.static_url_for('lib/jquery/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ utils.static_url_for('lib/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ utils.static_url_for('lib/bootbox/bootbox.min.js') }}"></script>
    <script src="{{ utils.static_url_for('lib/jquery-validation/jquery.validate.min.js') }}"></script>
    <script src="{{ utils.static_url_for('lib/jquery-validation/additional-methods.min.js') }}"></script>
    {% set locale = utils.get_locale() %}
    {% if locale == 'zh_CN' %}
        <script src="{{ utils.static_url_for('lib/jquery-validation/localization/messages_zh.min.js') }}"></script>
    {% elif locale == 'zh_TW' %}
        <script src="{{ utils.static_url_for('lib/jquery-validation/localization/messages_zh_TW.min.js') }}"></script>
    {% endif %}
    <script src="{{ utils.static_url_for('js/utils.js') }}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>
